/* navbar section */
*{
	margin: 0;
	padding: 0;
}
body,html{
	background-color: #61122F;
	color: white;
	font-size: 10px;
	font-family: Helvetica;
}
.navbar{
background-color: black;
border: none;
color: #61122F;
}
.navbar-brand{
color: white;
font-size: 3rem;
}
ul span{
	margin: .5rem;
	font-size: 1.7rem;
}
#Small_navbar ul li a {
	color: #61122F;
	font-size: 3rem;
}
#Small_navbar ul li a:hover{
	color: hotpink;
}

/* middle section */
.middle_part{
	box-sizing: border-box;
	padding: 5rem 20rem 0rem;
}
h1{
	text-align: center;
	margin-bottom: 1rem;
	text-transform: uppercase;
}
section{
	background-color: gray;
	font-size: 1.5rem;
	border-radius: .5rem;
}
h3{
	text-align: center;
	padding: 1.5rem 0rem 0rem 0rem;
}
p{
	padding: 0rem 1rem 1rem 1rem;
}
