/* General CSS */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*,
*::before,
*::after{
    -webkit-box-sizing: border-box; /*It is for browser support (chrome & safari).*/
    -moz-box-sizing: border-box; /*It is for browser support (firefox).*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
}

:root{
    /* Background Color */
    --bg-white:#fff;
    --bg-dark-color:  #03262c;
    --transparent-dark-color: #03262cd6;
    --facebook-color: #1877F2;
    --twitter-color: #1DA1F2;
    --youtube-color: #CD201F;
    --insta-color:  #E4405F;
    --linkedin-color:  #0e76a8;
    /* Text Colors */
    --primary-text:#061738;
    --secondary-color: #60cd12;
    --light-color: #e2f6de;
    --dark-color: #03262c;
    --text-white: #fff;
    --text-gray: #dee2e6;
    --anchor-color: #007aff;
    /* Font Family */
    --primary-font: 'Barlow Condensed',sans-serif;
    --secondary-font: 'Roboto',sans-serif;
}

body,
html{
    color: var(--primary-text);
    font-size: 10px;
    font-weight: 400;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

h1{
    color: var(--primary-text);
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
}

h2{
    color: var(--primary-text);
    font-size: 4.7rem;
    line-height: 1.2;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

h3{
    color: var(--text-white);
    font-size: 3.1rem;
    line-height: 1.2;
    font-weight: 700;
}

h4{
    color: var(--primary-text);
    font-size: 2.5rem;
    line-height: 1;
    font-weight: 700;
}

h5{
    color: var(--primary-text);
    font-size: 1.8rem;
    line-height: 1;
    font-weight: 600;
}

p{
    color: var(--primary-text);
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 1rem;
    font-family: var(--secondary-font);
}

embed,
iframe,
img,
object{
    max-width: 100%;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:active,
a:focus,
a:hover,
button{
    text-decoration: none;
    outline: 0;
}

li a{
    color: var(--text-white);
}

a:hover,
button:hover{
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: var(--white);
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(to right, #e2e829,#8ee74b);
}

.main-btn{
    position: relative;
    color: var(--bg-white);
    background: linear-gradient(to right, #0f7404,#5cb917);
    z-index: 1;
    overflow: hidden;
    border: 0.2rem solid var(--bg-white);
    border-radius: 3.5rem;
    text-transform: uppercase;
    padding: 1rem 3.5rem;
    font-weight: 600;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    letter-spacing: 0.2rem;
}
.main-btn:hover{
    background: var(--bg-white);
    color: var(--secondary-color);
    border: 0.2rem solid var(--secondary-color);
    transform: translateY(-0.06rem);
}

section{
    padding: 5rem 0;
}
.section-title{
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-text);
    text-transform: capitalize;
    margin-bottom: 2rem;
}
.section-subtitle{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-text);
    font-family: var(--secondary-font);
    max-width: 40%;
    margin: auto;
    margin-bottom: 1.5rem;
}
.about .banner_section{
    background: url('../images/banner-slide/top-banner-1.jpeg');
}
.product .banner_section{
    background: url('../images/banner-slide/top-banner-2.jpeg');
}
.gallery .banner_section{
    background: url('../images/banner-slide/top-banner-3.jpg');
}
.contact .banner_section{
    background: url('../images/banner-slide/top-banner-4.jpeg');
}
.errorPg .banner_section{
    background: url('../images/banner-slide/top-banner-5.jpg');
}
.about .banner_section,
.product .banner_section,
.gallery .banner_section,
.contact .banner_section,
.errorPg .banner_section{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
    min-height: auto;
}


/* 01 navbar css */
.header{
    position: absolute;
    width: 100%;
    top: 1.7rem;
    left: 0;
    z-index: 2;
}
.header .navbar{
    background: url('../images/header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.7rem 5rem;
}
.header .navbar-brand{
    width: 13rem;
    margin-top: -0.1rem;
}
.header .navbar-nav .nav-link{
    color: var(--text-white);
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    font-family: var(--primary-font);
}
.header .navbar-nav .nav-link:hover,
.header .navbar-nav .nav-link.active{
    color: var(--secondary-color);
}
.header .navbar-toggler{
    color: var(--text-white);
    font-size: 2rem;
    height: 2.7rem;
    padding: 0;
}
.header .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
.header .header_right span{
    color: var(--secondary-color);
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    margin-right: 1rem;
}
.header .header_right .phone_no{
    color: var(--text-white);
    font-size: 1.6rem;
}
.header-scrolled{
    position: fixed;
    top: -0.4rem;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1320px;
    margin: auto;
    z-index: 999;
    transition: 0.3s all ease-in-out;

}

/* 02 Banner css */
.banner_section{
    background: url(../images/banner-slide/Banner-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 90vh;
}
.banner_section .carousel-item{
    padding: 3rem 0;
    height: 90vh;
}
.banner_section .carousel-caption{
    top:35%;
    bottom:0;
    left: 2%;
    text-align: left;
    width: 100%;
}
.banner_section .carousel-caption h3{
    padding: 0.5rem 1.5rem;
    background-color: var(--dark-color);
    display: inline;
}
.banner_section .carousel-caption p{
    max-width: 40rem;
    margin-bottom: 2rem;
    color: var(--primary-text);
}

/* 03 Feature css */
.feature_section .features-box{
    background-color: transparent;
    border: 0.15rem solid var(--light-color);
    padding: 8rem 0;
    transition: 0.3s;

}
.feature_section .features-icon-border{
    background-color: transparent;
    border-radius: 50%;
    border: 0.2rem solid var(--light-color);
    padding: 1.3rem;
    display: inline-block;
}
.feature_section .features-box .features-icon{
    height: 8rem;
    width: 8rem;
    background-color: var(--light-color);
    margin: auto;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature_section .features-box .features-icon img{
    width: 5rem;
}
.feature_section .features-box h3{
    margin-top: 1.5rem;
    color: white;
}
.feature_section .features-box:hover{
    background-color: var(--bg-dark-color);
    border: var(--bg-dark-color);
    /* transform: translateY(-0.5rem); */
    transform: rotateY(180deg);
}
.feature_section .features-box:hover h3{
    color: var(--text-white);
}
.feature_section .features-box:hover .features-icon-border{
    border-color: var(--secondary-color);
}
.feature_section:hover .h3{
    color: var(--primary-text);
}
.feature_section .inner-area{
    transform: rotateY(180deg);
}
.feature_section .features-box:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.548);
}

/* 04 About css */
.landing_about_section{
    background: url(/images/about/about-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 9rem 0;
}
.landing_about_section p{
    color: var(--primary-text);
    margin-bottom: 2rem;
}

/* 05 Product card css */
.landing_product_section .produce-card{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 0.2rem solid var(--light-color);
    padding: 2rem 1rem;
    transition: all 0.3s;
}
.landing_product_section .produce-card .product-img{
    margin-bottom: 7rem;
    text-align: center;
}
.landing_product_section .produce-card h3{
    color: var(--primary-text);
}
.landing_product_section .produce-card span{
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-right: 0.5rem;
    text-decoration: line-through;
    transition: all 0.3s;
}
.landing_product_section .produce-card .product-detail{
    position: absolute;
    bottom: -22rem;
    right: 0;
    left: 0;
    text-align: center;
    padding: .7rem 1rem 6rem 1rem;
    background-color: var(--transparent-dark-color);
    transition: all 0.5s ease;
}
.landing_product_section .produce-card:hover .product-detail{
    bottom: 0;
}

/* 06 Testimonial css */
.testimonial_section{
    background-color: var(--light-color);
    padding-bottom: 8rem;
}
.testimonial_section .carousel-indicators{
    bottom: -6rem;
}
.testimonial_section .carousel-indicators button{
    background-color: var(--dark-color);
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
}
.testimonial_section .card{
    background: url(/images/testimonial/testimonial-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--dark-color);
    /* background-position: center; */
    text-align: right;
    padding: 5rem 5rem 5rem 0;
    /* border-radius: 0.5rem 0.5rem 0; */
    border: 0.1rem solid transparent;
}
.testimonial_section .profile-box{
    padding: 1.250rem 0 1.250rem 1.875rem;
    background-color: var(--dark-color);
    border-radius: .5rem 0 0 .5rem;
}
.testimonial_section .profile-box img{
    border-radius: 2.125rem 0 0 2.125rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonial_section .desc-box{
    padding-left: 2.5rem;
}

/* 07 Gallery css */
.gallery_section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 08 Footer css */
.footer_wrapper{
    background: url(/images/footer-bg/footer_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 15rem;
    padding-bottom: 0rem;
}
.footer_wrapper h5{
    color: var(--text-white);
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
}
.footer_wrapper ul li{
    margin-bottom: 0.5rem;
    list-style: none;
}
.footer_wrapper .company_details{
    font-size: 1.4rem;
}
.footer_wrapper .contact-info li a{
    color: var(--text-gray);
    font-size: 1.6rem;
}
.footer_wrapper .link-widget li a,
.footer_wrapper p{
    color: var(--text-gray);
    font-size: 1.6rem;
    padding-left: 1.5rem;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.footer_wrapper .company_details .tag-line{
    display: block;
    font-family: var(--primary-font);
}
.footer_wrapper .link-widget li a:before{
    content: '\f105';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.footer_wrapper .link-widget li a:hover{
    margin-left: .625rem;
    color: var(--secondary-color);
}
.footer_wrapper .social-network a{
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.2rem;
    margin: .5rem;
    display: inline-block;
    border: 0.125rem solid var(--text-gray);
    color: var(--text-gray);
    text-align: center;
    font-size: 1.3rem;
    border-radius: 100%;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.footer_wrapper .social-network a:hover{
    color: var(--text-white);
    box-shadow: 0 0.625rem .9375rem 0 rgb(0 0 0 / 10%);
    transform: translateY(-0.1875rem);
}
.footer_wrapper .social-network .fb:hover{
    background-color:var(--facebook-color);
    border-color: var(--facebook-color);
}
.footer_wrapper .social-network .ins:hover{
    background-color:var(--insta-color);
    border-color: var(--insta-color);
}
.footer_wrapper .social-network .tt:hover{
    background-color:var(--twitter-color);
    border-color: var(--twitter-color);
}
.footer_wrapper .social-network .yt:hover{
    background-color:var(--youtube-color);
    border-color: var(--youtube-color);
}
.footer_wrapper .social-network .in:hover{
    background-color:var(--linkedin-color);
    border-color: var(--linkedin-color);
}
.footer_wrapper .form-control{
    font-size: 2rem;
    color: var(--text-white);
}
.footer_wrapper .form-control:focus{
    outline: none;
    box-shadow: none;
    border-color: var(--secondary-color);
}
.footer_wrapper .copyright-section{
    background-color: var(--secondary-color);
    text-align: center;
    margin-top: 5rem;
}
.footer_wrapper .copyright-section p{
    margin-top: 0;
    padding: 3rem;
    line-height: 0;
}
.footer_wrapper .copyright-section a{
    color: var(--primary-text);
    font-weight: 600;
}

/* ----- 09 About page css----- */
.about .about-details p{
    color: var(--primary-text);
}

/* ----- 10 Product page css----- */
.product.product-detail p{
    margin: 1.5rem;
}

/* ----- 11 Contact page css----- */
.contact .contact-form{
    background-color:var(--light-color);
    padding: 5rem;
    box-shadow: 0 0.2rem 1.5rem rgb(0 0 0 / 4%);
}
.contact .contact-form .form-control:focus{
    outline: none;
    box-shadow: none;
}
.contact .contact-form .form-control::placeholder{
    color: var(--primary-text);
}
.contact .contact-form .form-control{
    padding: 1rem 1.5rem;
    border: 0.1rem solid var(--secondary-color);
    color: var(--primary-text);
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--secondary-font);
}
.contact .contact-form textarea{
    min-height: 15rem;
}
.contact .contact-form .info-box li{
    position: relative;
    padding-left: 7rem;
    padding-bottom: 3.5rem;
    margin-bottom: 2.9rem;
}
.contact .contact-form .info-box li i{
    position: absolute;
    left: 0;
    top: 1.5rem;
    font-size: 4.5rem;
    line-height: 4.5rem;
    color: var(--primary-text);
}
.contact .contact-form .info-box li p{
    color: var(--primary-text);
}
.contact .contact-form .info-box li a{
    color: var(--dark-color);
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0;
    font-family: var(--secondary-font);
}
